body {
	color: white;
	background-color: hsl(257, 40%, 49%);
	background-image: url(images/bg-mobile.svg);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 24px;
	padding-top: 28.8px;
	width: 100%;
	text-align: center;
}
.head {
	width: 120px;
	height: auto;
}
.mainfig {
	width: 100%;
	height: auto;
	margin-top: 4.8px;
}
.container {
	padding: 16px;
}
header {
	margin: 16px 16px 44.8px 16px;
}
section {
	margin: 32px 16px;
	display: flex;
	flex-direction: column;
}
.logo {
	margin-bottom: 16px;
}
.fig {
	margin-top: 48px;
}
.main {
	margin: 16px auto;
	text-align: center;
}
.main p {
	font-weight: 400;
	font-size: 16.32px;
	line-height: 1.6;
	width: 100%;
	color: #eadbf6;
	padding-bottom: 16px;
	text-align: center;
}
button {
	display: block;
	width: 50%;
	font-size: 12.8px;
	padding: 11.2px 28.8px;
	border: none;
	border-radius: 30px;
	background-color: white;
	color: hsl(257, 40%, 49%);
	box-shadow: 1px 3px 10px #2d2c2d94;
	margin: 16px auto 8px;
}
button:hover {
	box-shadow: 1px 3px 10px white;
	color: hsl(257, 40%, 49%);
	background-color: black;
	transition: 500ms;
}
footer {
	margin: 1rem;
}
.social_media {
	margin: 0 32% 6.4px;
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
ion-icon {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	padding: 5px;
}
.social_media a {
	color: white;
	text-decoration: none;
}
.attribution a {
	color: white;
	text-decoration: none;
}
ion-icon:hover {
	color: hsl(257, 40%, 49%);
	background-color: white;
	transition: 500ms;
}
.attribution a:hover {
	color: black;
	transition: 500ms;
}
.attribution {
	position: relative;
	top: 80px;
	bottom: 0px;
	font-size: 11px;
	text-align: center;
}
@media only screen and (min-width: 1000px) {
	body {
		background: url(images/bg-desktop.svg);
		font-family: "Open Sans", sans-serif;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
		background-color: hsl(257, 40%, 49%);
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	section {
		margin: 32px 16px;
		display: flex;
		flex-direction: row;
	}
	.container {
		padding: 40px 57.6px;
	}
	.logo {
		padding-left: 16px;
	}
	.head {
		width: 200px;
		height: auto;
	}
	.mainfig {
		margin-top: 32px;
		flex-basis: 60%;
		padding-left: 28.8px;
		padding-top: 19.2px;
	}
	.main {
		flex-basis: 40%;
		margin-left: 60px;
		padding-top: 32px;
	}
	.main h1 {
		text-align: left;
		font-weight: 500;
		font-size: 27.2px;
		letter-spacing: 2px;
		width: 80%;
	}
	.main p {
		text-align: left;
		font-size: 16.64px;
		line-height: 1.6;
	}
	button {
		display: block;
		margin: 0;
		font-size: 18px;
		padding: 16px 20.8px;
	}
	.footer {
		position: relative;
	}
	.social_media {
		margin: 0;
		display: inline-block;
		position: absolute;
		right: 60px;
	}
	.social_media ion-icon {
		margin-right: 14.4px;
	}
	.attribution {
		position: relative;
		top: 32px;
		text-align: center;
		font-size: 18px;
	}
}
@media only screen and (min-width: 1440px) {
	.main h1 {
		font-weight: 500;
		font-size: 35px;
	}
}
